{% extends "layout.html" %}

{% block title %}Resume{% endblock %}

{% block left-navbar %}My Resume{% endblock %}
{% block content %}
<style>
    html, body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .pdf-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ebebeb; /* Ensure no black borders */
    } 
    iframe {
        height: 100vh;
        aspect-ratio:1;
        border: none;
    }
</style>

<div class="pdf-container ">
    {% for res in resume %}
    <iframe 
    src="{{ res.resume.url }}#view=content&toolbar=0&navpanes=0&scrollbar=0"  
    allowfullscreen
    ></iframe>
    {% endfor %}
</div>

{% endblock %}
